*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

nav li{
    position: relative;
    display: inline;
}

li{
    list-style-type: none;
}

a, a:visited, a:active{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

.footer{
    position: absolute;
    height: 50px;
    bottom: 0px;
    width: 100%;
}

.footer li{
    display: inline;
}